<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CookBookConnectionString"
			 connectionString="
			 Server=md60hc1c\SQLEXPRESS;
			 Database=CookBookDB;
			 Trusted_Connection=True;"
			 providerName="System.Data.SqlClient"/>		
	</connectionStrings>
</configuration>